.drums-container {
    height: calc(100vh - 2rem);
    background-image:  url('../../../../assets/drums-large.png');
    background-position: bottom right;
    background-size: 300px;
    overflow-y: scroll;
}