<div class="container-fluid mx-0 pt-4 aoc-2018">
  <!-- <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(25).completedP1"></i>
        </div>
        <h2>25</h2>
      </div>
      <app-2018-day25></app-2018-day25>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(25).completedP2"></i>
        </div>
        <h2>25.5</h2>
      </div>
      <app-2018-day25-5></app-2018-day25-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(24).completedP1"></i>
        </div>
        <h2>24</h2>
      </div>
      <app-2018-day24></app-2018-day24>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(24).completedP2"></i>
        </div>
        <h2>24.5</h2>
      </div>
      <app-2018-day24-5></app-2018-day24-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(23).completedP1"></i>
        </div>
        <h2>23</h2>
      </div>
      <app-2018-day23></app-2018-day23>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(23).completedP2"></i>
        </div>
        <h2>23.5</h2>
      </div>
      <app-2018-day23-5></app-2018-day23-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(22).completedP1"></i>
        </div>
        <h2>22</h2>
      </div>
      <app-2018-day22></app-2018-day22>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(22).completedP2"></i>
        </div>
        <h2>22.5</h2>
      </div>
      <app-2018-day22-5></app-2018-day22-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(21).completedP1"></i>
        </div>
        <h2>21</h2>
      </div>
      <app-2018-day21></app-2018-day21>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(21).completedP2"></i>
        </div>
        <h2>21.5</h2>
      </div>
      <app-2018-day21-5></app-2018-day21-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(20).completedP1"></i>
        </div>
        <h2>20</h2>
      </div>
      <app-2018-day20></app-2018-day20>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(20).completedP2"></i>
        </div>
        <h2>20.5</h2>
      </div>
      <app-2018-day20-5></app-2018-day20-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(19).completedP1"></i>
        </div>
        <h2>19</h2>
      </div>
      <app-2018-day19></app-2018-day19>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(19).completedP2"></i>
        </div>
        <h2>19.5</h2>
      </div>
      <app-2018-day19-5></app-2018-day19-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(18).completedP1"></i>
        </div>
        <h2>18</h2>
      </div>
      <app-2018-day18></app-2018-day18>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(18).completedP2"></i>
        </div>
        <h2>18.5</h2>
      </div>
      <app-2018-day18-5></app-2018-day18-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(17).completedP1"></i>
        </div>
        <h2>17</h2>
      </div>
      <app-2018-day17></app-2018-day17>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(17).completedP2"></i>
        </div>
        <h2>17.5</h2>
      </div>
      <app-2018-day17-5></app-2018-day17-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(16).completedP1"></i>
        </div>
        <h2>16</h2>
      </div>
      <app-2018-day16></app-2018-day16>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(16).completedP2"></i>
        </div>
        <h2>16.5</h2>
      </div>
      <app-2018-day16-5></app-2018-day16-5>
    </section>
  </div> -->
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(15).completedP1"></i>
        </div>
        <h2>15</h2>
      </div>
      <app-2018-day15></app-2018-day15>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(15).completedP2"></i>
        </div>
        <h2>15.5</h2>
      </div>
      <app-2018-day15-5></app-2018-day15-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(14).completedP1"></i>
        </div>
        <h2>14</h2>
      </div>
      <app-2018-day14></app-2018-day14>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(14).completedP2"></i>
        </div>
        <h2>14.5</h2>
      </div>
      <app-2018-day14-5></app-2018-day14-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(13).completedP1"></i>
        </div>
        <h2>13</h2>
      </div>
      <app-2018-day13></app-2018-day13>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(13).completedP2"></i>
        </div>
        <h2>13.5</h2>
      </div>
      <app-2018-day13-5></app-2018-day13-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(12).completedP1"></i>
        </div>
        <h2>12</h2>
      </div>
      <app-2018-day12></app-2018-day12>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(12).completedP2"></i>
        </div>
        <h2>12.5</h2>
      </div>
      <app-2018-day12-5></app-2018-day12-5>
    </section>
  </div> 
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(11).completedP1"></i>
        </div>
        <h2>11</h2>
      </div>
      <app-2018-day11></app-2018-day11>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(11).completedP2"></i>
        </div>
        <h2>11.5</h2>
      </div>
      <app-2018-day11-5></app-2018-day11-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(10).completedP1"></i>
        </div>
        <h2>10</h2>
      </div>
      <app-2018-day10></app-2018-day10>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(10).completedP2"></i>
        </div>
        <h2>10.5</h2>
      </div>
      <app-2018-day10-5></app-2018-day10-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(9).completedP1"></i>
        </div>
        <h2>9</h2>
      </div>
      <app-2018-day9></app-2018-day9>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(9).completedP2"></i>
        </div>
        <h2>9.5</h2>
      </div>
      <app-2018-day9-5></app-2018-day9-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(8).completedP1"></i>
        </div>
        <h2>8</h2>
      </div>
      <app-2018-day8></app-2018-day8>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(8).completedP2"></i>
        </div>
        <h2>8.5</h2>
      </div>
      <app-2018-day8-5></app-2018-day8-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(7).completedP1"></i>
        </div>
        <h2>7</h2>
      </div>
      <app-2018-day7></app-2018-day7>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(7).completedP2"></i>
        </div>
        <h2>7.5</h2>
      </div>
      <app-2018-day7-5></app-2018-day7-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(6).completedP1"></i>
        </div>
        <h2>6</h2>
      </div>
      <app-2018-day6></app-2018-day6>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(6).completedP2"></i>
        </div>
        <h2>6.5</h2>
      </div>
      <app-2018-day6-5></app-2018-day6-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(5).completedP1"></i>
        </div>
        <h2>5</h2>
      </div>
      <app-2018-day5></app-2018-day5>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(5).completedP2"></i>
        </div>
        <h2>5.5</h2>
      </div>
      <app-2018-day5-5></app-2018-day5-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(4).completedP1"></i>
        </div>
        <h2>4</h2>
      </div>
      <app-2018-day4></app-2018-day4>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(4).completedP2"></i>
        </div>
        <h2>4.5</h2>
      </div>
      <app-2018-day4-5></app-2018-day4-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(3).completedP1"></i>
        </div>
        <h2>3</h2>
      </div>
      <app-2018-day3></app-2018-day3>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(3).completedP2"></i>
        </div>
        <h2>3.5</h2>
      </div>
      <app-2018-day3-5></app-2018-day3-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(2).completedP1"></i>
        </div>
        <h2>2</h2>
      </div>
      <app-2018-day2></app-2018-day2>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(2).completedP2"></i>
        </div>
        <h2>2.5</h2>
      </div>
      <app-2018-day2-5></app-2018-day2-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(1).completedP1"></i>
        </div>
        <h2>1</h2>
      </div>
      <app-2018-day1></app-2018-day1>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(1).completedP2"></i>
        </div>
        <h2>1.5</h2>
      </div>
      <app-2018-day1-5></app-2018-day1-5>
    </section>
  </div>
</div>