<div class="container-fluid mx-0">
  <div class="row">
    <section class="day-block-container col">
      <h2>25</h2>
      <app-day25></app-day25>
    </section>
    <section class="day-block-container col">
      <h2>25.5</h2>
      <app-day25-5></app-day25-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <h2>24</h2>
      <app-day24></app-day24>
    </section>
    <section class="day-block-container col">
      <h2>24.5</h2>
      <app-day24-5></app-day24-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <h2>23</h2>
      <app-day23></app-day23>
    </section>
    <section class="day-block-container col">
      <h2>23.5</h2>
      <app-day23-5></app-day23-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <h2>22</h2>
      <app-day22></app-day22>
    </section>
    <section class="day-block-container col">
      <h2>22.5</h2>
      <app-day22-5></app-day22-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <h2>21</h2>
      <app-day21></app-day21>
    </section>
    <section class="day-block-container col">
      <h2>21.5</h2>
      <app-day21-5></app-day21-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <h2>20</h2>
      <app-day20></app-day20>
    </section>
    <section class="day-block-container col">
      <h2>20.5</h2>
      <app-day20-5></app-day20-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <h2>19</h2>
      <app-day19></app-day19>
    </section>
    <section class="day-block-container col">
      <h2>19.5</h2>
      <app-day19-5></app-day19-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <h2>18</h2>
      <app-day18></app-day18>
    </section>
    <section class="day-block-container col">
      <h2>18.5</h2>
      <app-day18-5></app-day18-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <h2>17</h2>
      <app-day17></app-day17>
    </section>
    <section class="day-block-container col">
      <h2>17.5</h2>
      <app-day17-5></app-day17-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <h2>16</h2>
      <app-day16></app-day16>
    </section>
    <section class="day-block-container col">
      <h2>16.5</h2>
      <app-day16-5></app-day16-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <h2>15</h2>
      <app-day15></app-day15>
    </section>
    <section class="day-block-container col">
      <h2>15.5</h2>
      <app-day15-5></app-day15-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <h2>14</h2>
      <app-day14></app-day14>
    </section>
    <section class="day-block-container col">
      <h2>14.5</h2>
      <app-day14-5></app-day14-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <h2>13</h2>
      <app-day13></app-day13>
    </section>
    <section class="day-block-container col">
      <h2>13.5</h2>
      <app-day13-5></app-day13-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <h2>12</h2>
      <app-day12></app-day12>
    </section>
    <section class="day-block-container col">
      <h2>12.5</h2>
      <app-day12-5></app-day12-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <h2>11</h2>
      <app-day11></app-day11>
    </section>
    <section class="day-block-container col">
      <h2>11.5</h2>
      <app-day11-5></app-day11-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <h2>10</h2>
      <app-day10></app-day10>
    </section>
    <section class="day-block-container col">
      <h2>10.5</h2>
      <app-day10-5></app-day10-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <h2>9</h2>
      <app-day9></app-day9>
    </section>
    <section class="day-block-container col">
      <h2>9.5</h2>
      <app-day9-5></app-day9-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <h2>8</h2>
      <app-day8></app-day8>
    </section>
    <section class="day-block-container col">
      <h2>8.5</h2>
      <app-day8-5></app-day8-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <h2>7</h2>
      <app-day7></app-day7>
    </section>
    <section class="day-block-container col">
      <h2>7.5</h2>
      <app-day7-5></app-day7-5>
    </section>
  </div>

  <div class="row">
    <section class="day-block-container col">
      <h2>6</h2>
      <app-day6></app-day6>
    </section>
    <section class="day-block-container col">
      <h2>6.5</h2>
      <app-day6-5></app-day6-5>
    </section>
  </div>

  <div class="row">
    <section class="day-block-container col">
      <h2>5</h2>
      <app-day5></app-day5>
    </section>
    <section class="day-block-container col">
      <h2>5.5</h2>
      <app-day5-5></app-day5-5>
    </section>
  </div>

  <div class="row">
    <section class="day-block-container col">
      <h2>4</h2>
      <app-day4></app-day4>
    </section>
    <section class="day-block-container col">
      <h2>4.5</h2>
      <app-day4-5></app-day4-5>
    </section>
  </div>

  <div class="row">
    <section class="day-block-container col">
      <h2>3</h2>
      <app-day3></app-day3>
    </section>
    <section class="day-block-container col">
      <h2>3.5</h2>
      <app-day3-5></app-day3-5>
    </section>
  </div>

  <div class="row">
    <section class="day-block-container col">
      <h2>2</h2>
      <app-day2></app-day2>
    </section>
    <section class="day-block-container col">
      <h2>2.5</h2>
      <app-day2-5></app-day2-5>
    </section>
  </div>

  <div class="row">
    <section class="day-block-container col">
      <h2>1</h2>
      <app-day1></app-day1>
    </section>
    <section class="day-block-container col">
      <h2>1.5</h2>
      <app-day1-5></app-day1-5>
    </section>
  </div>

</div>