<nav>
  <ul>
    <li class="nav-node">
      <a [routerLink]="['']">
      <i class="fa fa-home" aria-hidden="true"></i>
      Home</a>
    </li>
    <li class="nav-node">
      <a [routerLink]="['/work']">
        <i class="fa fa-briefcase" aria-hidden="true"></i>
        Work</a>
    </li>
    <li class="nav-node">
      <a [routerLink]="['/projects']">
        <i class="fa fa-folder-open" aria-hidden="true"></i>
        Projects</a>
    </li>
    <li class="nav-node">
      <a [routerLink]="['/music']">
        <i class="fa fa-music" aria-hidden="true"></i>
        Music</a>
    </li>
    <li class="nav-node">
      <a [routerLink]="['/games']">
        <i class="fa fa-gamepad" aria-hidden="true"></i>
        Games</a>
    </li>
  </ul>
</nav>