@mixin styles-main($inTheme) {
    $primary: map-get($inTheme, primary);
    $accent: map-get($inTheme, accent); 

    i {
        margin-right: 1rem;
    }

    body {
        margin: 0px;
        font-family: Sans-serif;
        overflow: hidden;
    
        .with-background-image {
            width: calc(100vw);
            height: calc(100vh - 2rem);
            background-repeat: no-repeat;
            background-size: 90%;
            background-position: center;
            background-color:white;
            opacity: 0.8;
        
            .title {
                margin: 0;
            }
        }
    
        h1 {
            color: mat-color($primary);
        }

        .answer {
            color: mat-color($primary);
        }
    }

    .tile-container {
        border: 2px black;
        display: flex;        
        align-items: start;
        justify-content: start;
        flex-flow: row wrap;
        align-content: flex-end;

        .tile-wrapper {
            display: flex;
            flex: 1;
            min-width: 20rem;
        }

        app-tile {
            width: 100%;
        }
    }
    
    .mat-tab-body-content {
      height: calc(100vh - 11rem) !important;
    }
    a {
        &.no-link-style {
            color: black;
            &:hover {
                text-decoration: none;
            }
        }

        &:hover {
            &.link-with-title {
            text-decoration: none;
            }
        }
    }

    .display-container {
        height: 10rem;
    }

    .mat-nav-list {
        padding-top: 0 !important;
    }

    breadcrumb {
        .fluid-bread {
            background-color: transparent;
            .breadcrumb {
                background-color: transparent;
                .breadcrumb-item+.breadcrumb-item::before {
                    content: "|";
                }                
            }
        }
    }
}