.mat-typography {
    font-family: "Source Code Pro", monospace;
    max-height: 85vh;
    overflow: scroll;
    font-size: 8px;
    line-height: 8px;
}

.mat-dialog-content {
    max-height: 90vh;
    display: unset;
    margin: unset;
    padding: unset;
}

