.mat-typography {
    font-family: "Source Code Pro", monospace;
    max-height: 85vh;
    overflow: scroll;
    font-size: 4px;
    line-height: 4px;
}

.mat-dialog-content {
    max-height: 90vh;
    display: unset;
    margin: unset;
    padding: unset;
}

.combatants-title {
    font-size: 18px;
}