.mat-typography {
    font-family: "Source Code Pro", monospace;
}

.mat-dialog-content {
    max-height: 90vh;
    display: unset;
    margin: unset;
    padding: unset;
}

.combatants-title {
    font-size: 18px;
}