<div class="container-fluid mx-0 pt-4 aoc-2015">
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(12).completedP1"></i>
        </div>
        <h2>12</h2>
      </div>
      <app-2015-day12></app-2015-day12>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(12).completedP2"></i>
        </div>
        <h2>12.5</h2>
      </div>
      <app-2015-day12-5></app-2015-day12-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(11).completedP1"></i>
        </div>
        <h2>11</h2>
      </div>
      <app-2015-day11></app-2015-day11>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <div class="icon-container" *ngIf="!loading">
          <i class="fa fa-star" aria-hidden="true" *ngIf="getStatusForDay(11).completedP2"></i>
        </div>
        <h2>11.5</h2>
      </div>
      <app-2015-day11-5></app-2015-day11-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <i class="fa fa-star" aria-hidden="true"></i>
        <h2>10</h2>
      </div>
      <app-2015-day10></app-2015-day10>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <i class="fa fa-star" aria-hidden="true"></i>
        <h2>10.5</h2>
      </div>
      <app-2015-day10-5></app-2015-day10-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <i class="fa fa-star" aria-hidden="true"></i>
        <h2>9</h2>
      </div>
      <app-2015-day9></app-2015-day9>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <i class="fa fa-star" aria-hidden="true"></i>
        <h2>9.5</h2>
      </div>
      <app-2015-day9-5></app-2015-day9-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <i class="fa fa-star" aria-hidden="true"></i>
        <h2>8</h2>
      </div>
      <app-2015-day8></app-2015-day8>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <i class="fa fa-star" aria-hidden="true"></i>
        <h2>8.5</h2>
      </div>
      <app-2015-day8-5></app-2015-day8-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <i class="fa fa-star" aria-hidden="true"></i>
        <h2>7</h2>
      </div>
      <app-2015-day7></app-2015-day7>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <i class="fa fa-star" aria-hidden="true"></i>
        <h2>7.5</h2>
      </div>
      <app-2015-day7-5></app-2015-day7-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <i class="fa fa-star" aria-hidden="true"></i>
        <h2>6</h2>
      </div>
      <app-2015-day6></app-2015-day6>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <i class="fa fa-star" aria-hidden="true"></i>
        <h2>6.5</h2>
      </div>
      <app-2015-day6-5></app-2015-day6-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <i class="fa fa-star" aria-hidden="true"></i>
        <h2>5</h2>
      </div>
      <app-2015-day5></app-2015-day5>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <i class="fa fa-star" aria-hidden="true"></i>
        <h2>5.5</h2>
      </div>
      <app-2015-day5-5></app-2015-day5-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <i class="fa fa-star" aria-hidden="true"></i>
        <h2>4</h2>
      </div>
      <app-2015-day4></app-2015-day4>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <i class="fa fa-star" aria-hidden="true"></i>
        <h2>4.5</h2>
      </div>
      <app-2015-day4-5></app-2015-day4-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <i class="fa fa-star" aria-hidden="true"></i>
        <h2>3</h2>
      </div>
      <app-2015-day3></app-2015-day3>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <i class="fa fa-star" aria-hidden="true"></i>
        <h2>3.5</h2>
      </div>
      <app-2015-day3-5></app-2015-day3-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <i class="fa fa-star" aria-hidden="true"></i>
        <h2>2</h2>
      </div>
      <app-2015-day2></app-2015-day2>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <i class="fa fa-star" aria-hidden="true"></i>
        <h2>2.5</h2>
      </div>
      <app-2015-day2-5></app-2015-day2-5>
    </section>
  </div>
  <div class="row">
    <section class="day-block-container col">
      <div class="day-title-container">
        <i class="fa fa-star" aria-hidden="true"></i>
        <h2>1</h2>
      </div>
      <app-2015-day1></app-2015-day1>
    </section>
    <section class="day-block-container col">
      <div class="day-title-container">
        <i class="fa fa-star" aria-hidden="true"></i>
        <h2>1.5</h2>
      </div>
      <app-2015-day1-5></app-2015-day1-5>
    </section>
  </div>
</div>