.day-block-container {
    background-color: rgba(242, 242, 242, 0.9);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 2rem;

    &:first-child {
        &:not(:last-child) {
            margin-right:0.5rem;
        }
    }

    &:last-child {
        &:not(:first-child) {
            margin-left:0.5rem;
        }
    }

    h2 {
        height: 2rem;
        border-radius: 2rem;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 1rem;
        text-align: left;
        line-height: 2rem;
    }

    .with-script {
        .input-group {
            height: 2.5rem;
        }
    }

    .day-title-container {
        display: block;

        h2 {
            display: inline-block;
        }
    }

    .icon-container {
        display: inline-block;
    }

    .fa-star {
        color: yellow;
        display: inline-block;
        font-size: 2rem;

    }
}

.aoc-2015 {
    background-image: url("../../../../../../assets/aoc-2015.png");
    background-color:#161828;
    background-size: contain;
}

.row {
    margin-left: 0;
    margin-right: 0;
}