.storage-label-container {
    padding: 2rem;
}

.mat-form-field {
    display: flex;
}

.mock-label {
    border: 3px dashed black;
    border-radius: 6px;
    height: 12rem;
    width: 40rem;

    .header {
        font-size: 24px;
        line-height: 2rem;
        font-weight: 600;
    }

    .sub {
        font-size: 18px;
        line-height: 1.125rem;
        font-weight: 400;
    }
}