<div class="storage-label-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <input #labelHeader type="text" matInput placeholder="Label name" [(ngModel)]="inputLabelHeader" />
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput placeholder="Sub name" [(ngModel)]="inputLabelSub" (keyup.enter)="addLabelToList()" />
                </mat-form-field>
                <button mat-button class="mat-accent" (click)="addLabelToList()">Add</button>
                <button id="print-container" mat-button class="mat-accent" (click)="printWindow()">Print list</button>
                <div class="container">
                    <div *ngFor="let label of _labels" class="row">
                        <button type="button" class="col-1 mat-icon-button" (click)="deleteLabel(label)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <div class="col-11" (click)="editLabel(label)">{{ label.header }} - {{ label.subHeader }}</div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="mock-label">
                        <div class="header">{{ inputLabelHeader }}</div>
                        <div class="sub">{{ inputLabelSub }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>